@font-face {
    font-family: oswald;
    src: url(../Fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: roboto;
    src:url(../Fonts/Roboto-Medium.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start header edition*/
.navbar-nav {
    font-family: 'oswald', 'Arial Narrow', Arial, sans-serif;
}    

#img-logo{
    margin-top: -14px;
}

h1{
    height: 120px;
    width: 80px;
    background-color: #71c5a5;
}

.nav-link {
    margin-left: 1rem ;
    margin-right: 1rem;
}

.btn {
    margin-left: 0.7rem ;
    margin-right: 0.7rem;
    padding: 12px 24px;
}

.offcanvas-body{
    padding: 50px;
}

.btn-offcanvas{
    margin-top: 1.3rem;
    margin-bottom: 1.4rem;
    margin-left: -0.2rem;
    padding-left: 6rem ;
    padding-right: 6rem;
}

/* Start Carousel edition*/

.carousel-item img {
    height: 550px;
}

/*Start search edition*/

.form-label{
    color: #424850;
    font-family: 'oswald', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 32px;
    line-height: 52px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.form-control{
    color: #424850;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    background-color: #f6f7f8;
    
}

.all-gyms {
    color: #71C5A5;
    font-size: 18px;
    line-height: 28px;
    font-family: 'oswald', 'Arial Narrow', 'Arial', 'sans-serif';
}  

/*Start Carousel-Banner area


#carousel-banner{
  border: 2px solid red;
  overflow: hidden;
  height: 500px;
  width: 500px;
  box-shadow: 2px 2px 4px black;
}
*/


.container-banner{
    border: 2px solid red;
    height: 500px;
}

.banner{
    border: 2px solid blue;
}

#banner-2{
  background-image: url("IMAGE_URL"), linear-gradient(#4a9e7e, #fafafa );
}
